<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{40.427878 , -86.914467}</string>
	<key>overlayTopLeftCoord</key>
	<string>{40.44114, -86.9339}</string>
	<key>overlayTopRightCoord</key>
	<string>{40.44087, -86.90636}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{40.41333, -86.93668}</string>
	<key>boundary</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
