<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{40.427080, -86.920806}</string>
	<key>overlayTopLeftCoord</key>
	<string>{40.441731, -86.935666}</string>
	<key>overlayTopRightCoord</key>
	<string>{40.441731, -86.905667}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{40.412451, -86.935666}</string>
	<key>boundary</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
